.mainSidebarWrapper {
  height: 100vh;
  min-width: 17.5rem;
  width: 32rem;
  background: #047d36;
  color: #ffffff;
  transition: 0.4s ease-in-out;

  @media screen and (min-width: 900px) and (max-width: 1280px) {
    width: 25rem;
  }

  @media screen and (max-width: 900px) {
    min-width: 0px;
    width: 0px;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .mainSidebar {
    background: url(../../../../assets/images/userDashboardWhite.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7.5rem 3rem 2rem 2rem;
    transition: 0.4s ease-in-out;

    @media screen and (max-width: 1280px) {
      padding: 5.5rem 1rem 1rem 1rem;
    }

    .profile {
      display: flex;
      gap: 1.5rem;
      padding-right: 5rem;
      transition: 0.4s ease-in-out;

      @media screen and (max-width: 1280px) {
        gap: 0.75rem;
        padding-right: 0.5rem;
      }

      &__img {
        width: 4.25rem;
        height: 4.25rem;
        border-radius: 50%;
        overflow: hidden;
      }

      &__details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p {
          font-size: 1.5rem;
          font-weight: 700;
        }
        span {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    .navigation {
      padding-bottom: 3.25rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &__items {
        background: transparent;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: #ffffff;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        cursor: pointer;

        p {
          font-size: 1rem;
          font-weight: 500;
        }
        span {
          font-size: 1.75rem;
          svg {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.sidebarOpen {
//   width: 17.5rem;
  min-width: 17.5rem;
}
