.section5 {
  width: 100%;
  height: 260px;
  padding: 2em 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid red;
  color: white;
  margin: 0;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-transform: capitalize;
  color: #060074;
}

.Newsletter {
  border: 1px solid navy;
  height: 60px;
  width: 70%;
  max-width: 616px;
  gap: 100px;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-radius: 8px;
  background-color: navy;
  color: white;
}

.emails{
  width: 65%;
  padding: 1.2em 0 1.2em 1em;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  margin: -0.5em 0 0 0;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 20px;
  color: white;
  background-color: transparent;
  // border: 1px solid red;

}

.emails:hover, .emails:active {
  outline: none;
}

.submit-class{
  width: 35%;
  height: 100%;
  color: navy;
  background-color: white;
  border: 1px solid white;
  padding: 0.6em 0 1.8em 0;
  margin: -0.375em 0 0 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 8px;
  line-height: 20px;
}